:root {
    --headerFontColor:rgb(197, 171, 197);
    --headerBoxshadow: .5em .5em 3em rgb(218, 204, 144);
    --headerColor:rgb(119 110 72);
    --searchBorderline:solid 2px rgb(75, 69, 45);
    --searchBackground:rgba(240, 235, 232, 0.904);
    --searchHoverColor:rgb(200 90 90);
}

@font-face {
    font-family: bosch;
    src:url(fonts/Author-Regular.otf);
}

@font-face {
    font-family: Boska;
    src:url(fonts/Bosch.otf);
}

@font-face {
    font-family: histograph;
    src:url(fonts/HistographBold-Eagml.otf)
}

body {
    background-image: url(images/icons-aethetic.jpg);
}
/* loading styling for the user */
 .loading {
     width: 5em;
     height: 5em;
     position: absolute;
     left:calc(50% - 2.5em);
     top:50%;
        border: .2em solid rgb(228, 143, 157);
        border-left-color: currentcolor;
        border-right-color: currentcolor;
        border-radius: 50%;
        animation: 1s loader linear infinite;
    }
    
    @keyframes loader {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

h1 {
    margin: 0 0 -6px;
    display: flex;
    font-family: histograph;
    font-size: 35.8px;
    color:var(--headerFontColor);
}

header {
    display: flex;
    position: fixed;
    font-family: histograph;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    opacity: 90%;
    box-shadow: var(--headerBoxshadow);
    /* centering items in the header */
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 90px;
    background-color: var(--headerColor);
}

/* ol is in the container */
.container {
    max-width: 1600px;
    padding: 20px 20px;
    margin: 0 auto;
}

/* art grid lay out */
ol {
    max-width: 100%;
    padding: 29px;
    border: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 15px;
}

/* HELP I want to remove the marker! */
li::marker {
  opacity: 0%;
}

li img  {
    width: 100%;
    border-radius: 10px;
    position: relative;
    transition: transform 250ms;
    cursor: pointer;
    opacity: 70%;
    z-index: 1;
}

/* h2 = short titleClass */
li h2 {
    width: 100%;
    border-radius: 10px;
    position: relative;
    opacity: 100%; 
    font-family:'Boska';
}

/* long title */
li h3 {
    width: 100%;
    border-radius: 10px;
    position: relative;
    opacity: 100%; 
    font-family:'Bosch';
}

/* function hover transform */
li img:hover {
    transform:translateY(-2px);
    box-shadow: 3px 3px 10px rgb(255 255 255);
    opacity: 100%;
}
 
#form {
    padding: 5em;
}
/* Searchbutton */
#searchBar {
	display:flex;
	align-items:center;
}
/* search length */
#searchBar form {
	flex-grow:-1;
	display:flex;
	justify-content:flex-start;
}
/* styling */
#searchBar input {
    display: inline-block;
    position: relative;
    font-size:.9em;
	padding:.50em 0em;
	margin:0;
	line-height:2em;
	box-sizing:border-box;
	outline:none;
	-webkit-appearance: none;
}

/* styling */
#searchBar input[type=search] {
	border:var(--searchBorderline);
	background:var(--searchBackground) url(images/search\ icon.png) no-repeat .4em center / 2.1em;
	width:5em;
    border-radius: 1.5em 0 1.5em  0;
    padding: 0 2.8em;
	overflow:hidden;
	transition:width 1s, border-radius.33s .67s;
    cursor: pointer;
}

#searchBar input[type=submit] {
	-webkit-appearance: none;
	border:none;
	background-color:rgb(99, 94, 74);
	color:var(--searchBackground);
	width:0em;
	overflow:hidden;
	border-radius:0 1.5em 1.5em 0;
	transition:1s;
    cursor: pointer;
}

#searchBar input[type=search]:focus {
	width:calc(100% - 3em);
	border-radius:1.5em 0 0 1.5em;
	transition:width 1s, border-radius .33s;
    background-color:var(--searchBackground);
}

#searchBar input[type=search]:focus + input[type=submit] {
	width:8.5em;
}

#searchBar input[type=search]:hover {
    animation-name: searchHover;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}

@keyframes searchHover {
    0% {
        background-color: none;
    }
    100% {
        background-color:var(--searchHoverColor);
    }
}






