:root {
    --headerFontColor:rgb(197, 171, 197);
    --headerBoxshadow: .5em .5em 3em rgb(218, 204, 144);
    --headerColor:rgb(119 110 72);
}

@font-face {
    font-family: bosch;
    src:url(fonts/Author-Regular.otf);
}

@font-face {
    font-family: Boska;
    src:url(fonts/Bosch.otf);
}

@font-face {
    font-family: histograph;
    src:url(fonts/HistographBold-Eagml.otf)
}

body {
    background-image: url(images/icons-aethetic.jpg);
}

h1 {
    margin: 0 0 -6px;
    display: flex;
    font-family: histograph;
    font-size: 35.8px;
    color:var(--headerFontColor);
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    opacity: 90%;
    box-shadow: var(--headerBoxshadow);
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: var(--headerColor);
}

/* ol is in the container */
.container {
    max-width: 1600px;
    padding: 20px 20px;
    margin: 0 auto;
}

/* art grid lay out */
ol {
    padding: 29px;
    border: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 15px;
}

/* HELP I want to remove the marker! */
li::marker {
  opacity: 0%;
}

li img  {
    width: 100%;
    border-radius: 10px;
    position: relative;
    transition: transform 250ms;
    cursor: pointer;
    opacity: 70%;
}

/* h2 = short titleClass */
li h2 {
    width: 100%;
    border-radius: 10px;
    position: relative;
    opacity: 100%; 
    font-family:'Boska';
}

/* function hover transform */
li img:hover {
    transform:translateY(-2px);
    box-shadow: 3px 3px 10px rgb(255 255 255);
    opacity: 100%;
}
 






