<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>ArtLibrary</title>
  </head>
  <body>
    <header>
      <article>
           <h1>Search your favourite ART</h1>
      <!-- <article id="searchBar"> -->
        <form id="searchField">
            <input name="search-field" type="search" placeholder="  search art" >
            <input name="search-button" type="submit" value="search">
        </form> 
    </header>
    <div class="profile-container">
      <div class="kunstImg loading"></div> <!-- will wrap an image tag -->
      <div class="titleShort loading"></div> <!-- h2 object name -->
      <div class="kunstTitel loading"></div> <!-- =profile info: title art - year - artist -->
    </div> 
    <div class="overlay"> <!-- if principalOrFirstMaker doens't exist -->
    </div>
            <ol></ol>
            </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
