<header>
    <article>
         <h1>Search your favourite ART</h1>
      <form method="GET" action="/search">
          <input name="q" type="search" placeholder="  search art">
      </form> 
  </header>
